<div class="wrapper items-center">
  <div class="flex justify-end w-full m-1">
    <div class="flex space-x-1">
      <button
        mat-mini-fab
        [routerLink]="['new']"
        matTooltip="Create a new note"
        matTooltipShowDelay="1000"
      >
        <mat-icon>edit_note</mat-icon>
      </button>
      <button
        mat-mini-fab
        (click)="deleteNotes()"
        matTooltip="Clear all notes"
        matTooltipShowDelay="1000"
      >
        <mat-icon>delete_sweep</mat-icon>
      </button>
    </div>
  </div>
  <div
    class="absolute mx-auto w-full text-center items-center text-lg font-bold"
  >
    Notes
  </div>
</div>
<router-outlet />
@for (note of notesService.notes(); track note.id) {
  <app-note-item
    [note]="note"
    (copyClicked)="notesService.copy(note.id)"
    (deleteClicked)="notesService.delete(note.id)"
    (contentUpdated)="notesService.update(note.id, $event)"
  />
} @empty {
  <div class="text-white m-1">Your notes will appear here! 📖</div>
}
