<div class="wrapper items-center">
  <div class="flex justify-end w-full m-1">
    <div class="flex space-x-1">
      <button
        mat-mini-fab
        (click)="clearClipboardHistory()"
        matTooltip="Clear all clipboard entries"
        matTooltipShowDelay="1000"
      >
        <mat-icon>delete_sweep</mat-icon>
      </button>
    </div>
  </div>
  <div
    class="absolute mx-auto w-full text-center items-center text-lg font-bold"
  >
    Clipboard
  </div>
</div>
@for (clipperEntry of clipperEntries(); track clipperEntry.id) {
  <app-clipboard-item
    [clipperEntry]="clipperEntry"
    (copyClicked)="chs.copy(clipperEntry.id)"
    (deleteClicked)="chs.delete(clipperEntry.id)"
    (openClicked)="chs.open(clipperEntry.id)"
  />
} @empty {
  <div class="dark:text-white m-1">
    Your clipboard entries will appear here! 📖
  </div>
}
