@use "@angular/material" as mat;

:host {
  @include mat.badge-overrides(
    (
      background-color: red,
      text-color: red,
    )
  );
}

.search-field {
  --mat-form-field-container-height: 40px;
  --mat-form-field-container-vertical-padding: 8px;
}
