<div class="wrapper items-center">
  <div class="flex items-center w-full m-1">
    <div class="flex justify-end space-x-1 w-full">
      <button
        mat-mini-fab
        (click)="clearBookmarks()"
        matTooltip="Clear all bookmarks"
        matTooltipShowDelay="1000"
      >
        <mat-icon>delete_sweep</mat-icon>
      </button>
    </div>
  </div>
  <div
    class="absolute mx-auto w-full text-center items-center text-lg font-bold"
  >
    Bookmarks
  </div>
</div>

@for (bookmarkEntry of bookmarkEntries(); track bookmarkEntry.id) {
  <app-bookmark-item
    [bookmarkEntry]="bookmarkEntry"
    (copyClicked)="bs.copy(bookmarkEntry.id)"
    (deleteClicked)="bs.delete(bookmarkEntry.id)"
    (openClicked)="bs.open(bookmarkEntry.id)"
    (refreshClicked)="bs.update(bookmarkEntry.id)"
  />
} @empty {
  <div class="dark:text-white m-1">
    Your bookmark entries will appear here! 📖
  </div>
}
