<div class="wrapper">
  <div class="absolute bottom-0 text-xs text-slate-700 px-3">
    @if (note().updated_time) {
      <!-- updated  -->
      Updated: {{ note().updated_time | date: "yyyy-MM-dd HH:mm" }}
    }
    <!-- created -->
    Created: {{ note().created_time | date: "yyyy-MM-dd HH:mm" }}
  </div>
  <!-- editor -->
  <div
    class="flex-1 min-h-[100px] overflow-hidden rounded-lg p-2 mb-4"
    [class.h-[100px]]="!expanded()"
  >
    @if (editable()) {
      <div class="overflow-hidden h-full">
        <div
          #editor
          [contentEditable]="editable()"
          class="overflow-hidden whitespace-pre-wrap font-mono mb-2 min-h-[100px]"
          [innerText]="note().entry"
        ></div>
      </div>
    } @else {
      <div class="overflow-hidden whitespace-pre-wrap font-mono mb-2">
        @for (part of processText(note().entry); track $index) {
          <!-- plain text -->
          @if (part.type == "text") {
            <span>{{ part.content }}</span>
          }
          <!-- https url -->
          @else {
            <span
              class="underline cursor-pointer italic"
              (click)="openUrl(part.content)"
              >{{ part.content }}</span
            >
          }
        }
      </div>
    }
  </div>
  <!-- buttons -->
  <div class="flex flex-row mt-3 space-x-1 justify-end">
    <div class="flex flex-col space-y-2 w-[50px] items-center">
      <button mat-mini-fab class="w-full" (click)="toggleView()">
        <mat-icon>{{ expanded() ? "zoom_in_map" : "zoom_out_map" }}</mat-icon>
      </button>
      @if (editable()) {
        <button mat-mini-fab class="w-full" (click)="updateNote()">
          <mat-icon>save</mat-icon>
        </button>
      } @else {
        <button mat-mini-fab class="w-full" (click)="toggleEditable()">
          <mat-icon>edit</mat-icon>
        </button>
      }
    </div>
    <div class="flex flex-col space-y-2 w-[50px]">
      <button
        mat-mini-fab
        class="w-full"
        (click)="copyClicked.emit()"
        [disabled]="editable()"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-mini-fab class="w-full" (click)="deleteClicked.emit()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
