<div
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="linkMenu"
></div>
<div
  class="relative m-1 mt-0 flex h-full min-w-0 overflow-hidden rounded-lg border border-solid bg-slate-50/30 shadow-lg"
>
  <div class="absolute bottom-0 text-xs text-slate-700 px-3">
    @if (note().updated_time) {
      Updated: {{ note().updated_time | date: "yyyy-MM-dd HH:mm" }}
    }
    Created: {{ note().created_time | date: "yyyy-MM-dd HH:mm" }}
  </div>
  <div class="mb-4 flex min-h-0 flex-1 overflow-hidden rounded-lg p-2">
    @if (editable()) {
      <div
        class="relative min-h-0 w-full overflow-auto rounded-lg border border-dashed border-slate-400/70 bg-white/35 px-4 pb-3 pt-4"
      >
        <div
          #editor
          [contentEditable]="editable()"
          class="block min-h-full w-full whitespace-pre-wrap break-all font-mono leading-6 outline-none"
          [innerText]="note().entry"
          aria-label="Edit note content"
          role="textbox"
        ></div>
      </div>
    } @else {
      <div class="h-full min-w-0 overflow-auto">
        @for (part of processText(note().entry); track $index) {
          @if (part.type == "text") {
            <span class="whitespace-pre-wrap break-all font-mono">{{
              part.content
            }}</span>
          } @else {
            <span
              class="cursor-pointer break-all whitespace-pre-wrap font-mono italic underline"
              (click)="openUrl(part.content)"
              (contextmenu)="onLinkRightClick($event, part.content)"
              >{{ part.content }}</span
            >
          }
        }
      </div>
    }
  </div>
  <div class="mt-3 flex flex-row justify-end space-x-1">
    <div class="flex w-[50px] flex-col items-center space-y-2">
      <button mat-mini-fab class="w-full" (click)="openExpandedView()">
        <mat-icon>zoom_out_map</mat-icon>
      </button>
      @if (editable()) {
        <button mat-mini-fab class="w-full" (click)="updateNote()">
          <mat-icon>save</mat-icon>
        </button>
      } @else {
        <button mat-mini-fab class="w-full" (click)="toggleEditable()">
          <mat-icon>edit</mat-icon>
        </button>
      }
    </div>
    <div class="flex w-[50px] flex-col space-y-2">
      <button
        mat-mini-fab
        class="w-full"
        (click)="copyClicked.emit()"
        [disabled]="editable()"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-mini-fab class="w-full" (click)="deleteClicked.emit()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-menu #linkMenu="matMenu">
  <button mat-menu-item (click)="openUrl(clickedUrl())">
    <mat-icon>open_in_new</mat-icon>
    <span>Open in browser</span>
  </button>
  <button mat-menu-item (click)="showQRCode()">
    <mat-icon>qr_code_2</mat-icon>
    <span>Show QR code</span>
  </button>
</mat-menu>
