<div
  class="flex bg-slate-50/30 m-1 border border-solid rounded-lg p-1 shadow-lg"
>
  <div class="flex justify-between w-full">
    <div class="flex space-x-1">
      <button mat-mini-fab [routerLink]="''">
        <mat-icon>home</mat-icon>
      </button>
      @if (clipboardHistoryService.running()) {
        <button mat-mini-fab (click)="clipboardHistoryService.pause()">
          <mat-icon>pause</mat-icon>
        </button>
      } @else {
        <button mat-mini-fab (click)="clipboardHistoryService.resume()">
          <mat-icon>play_arrow</mat-icon>
        </button>
      }
      <button mat-mini-fab [routerLink]="['notes']">
        <mat-icon>notes</mat-icon>
      </button>
      <button mat-mini-fab [routerLink]="['notes', 'new']">
        <mat-icon>edit_note</mat-icon>
      </button>
      <button mat-mini-fab [routerLink]="['files']">
        <mat-icon>folder_copy</mat-icon>
      </button>
      <button mat-mini-fab [routerLink]="['settings']">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div class="flex space-x-1">
      <button mat-mini-fab (click)="windowActionsService.hideWindow()">
        <mat-icon>visibility_off</mat-icon>
      </button>
      @if (showClear() && promptedClipboardDelete()) {
        <div class="flex items-center">Are you sure?</div>
        <button
          mat-raised-button
          color="primary"
          class="w-[95px]"
          (click)="promptedClipboardDelete.set(false)"
        >
          Cancel
        </button>
        <button
          mat-raised-button
          color="warn"
          class="w-[95px]"
          (click)="
            clipboardHistoryService.clear(); promptedClipboardDelete.set(false)
          "
        >
          Proceed
        </button>
      } @else if (showClear()) {
        <button mat-mini-fab (click)="promptedClipboardDelete.set(true)">
          <mat-icon>clear_all</mat-icon>
        </button>
      }
    </div>
  </div>
</div>
