<div
  class="flex bg-slate-50 backdrop-filter bg-opacity-30 backdrop-blur-sm m-1 border rounded-lg p-1 shadow-lg"
>
  <div class="flex justify-between w-full">
    <div class="flex space-x-1">
      <button mat-mini-fab [routerLink]="''">
        <mat-icon>home</mat-icon>
      </button>
      @if (chs.running()) {
      <button mat-mini-fab (click)="chs.pause()">
        <mat-icon>pause</mat-icon>
      </button>
      }@else{
      <button mat-mini-fab (click)="chs.resume()">
        <mat-icon>play_arrow</mat-icon></button
      >}
      <button mat-mini-fab [routerLink]="['notes']">
        <mat-icon>description</mat-icon>
      </button>
      <button mat-mini-fab [routerLink]="['notes', 'new']">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab [routerLink]="['settings']">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div class="flex space-x-1">
      <button mat-mini-fab (click)="was.hideWindow()">
        <mat-icon>visibility_off</mat-icon>
      </button>
      @if (showClear()) {
      <button mat-mini-fab (click)="chs.clear()">
        <mat-icon>clear_all</mat-icon>
      </button>
      }
    </div>
  </div>
</div>
