<div class="h-full p-1 box-border">
  <div class="manager-nav-wrapper flex flex-col space-y-1 h-full">
    <div
      matRipple
      class="clipper-bg m-1 flex cursor-pointer items-center gap-2 rounded-lg p-2"
      routerLink="/manager/clipboard"
    >
      <mat-icon
        matBadge="-"
        matBadgeSize="small"
        [matBadgeHidden]="clipboardHistoryService.running()"
        >attach_file</mat-icon
      >
      <span>Clipboard</span>
    </div>
    <div
      matRipple
      class="clipper-bg m-1 flex cursor-pointer items-center gap-2 rounded-lg p-2"
      routerLink="/manager/notes"
    >
      <mat-icon>notes</mat-icon>
      <span>Notes</span>
    </div>
    <div
      matRipple
      class="clipper-bg m-1 flex cursor-pointer items-center gap-2 rounded-lg p-2"
      routerLink="/manager/bookmarks"
    >
      <mat-icon>bookmark</mat-icon>
      <span>Bookmarks</span>
    </div>
    <div
      matRipple
      class="clipper-bg m-1 flex cursor-pointer items-center gap-2 rounded-lg p-2"
      routerLink="/manager/tagged-items"
    >
      <mat-icon>sell</mat-icon>
      <span>Tagged Items</span>
    </div>
    <div
      matRipple
      class="clipper-bg m-1 mt-auto flex cursor-pointer items-center gap-2 rounded-lg p-2"
      routerLink="/manager/tags"
    >
      <mat-icon>settings</mat-icon>
      <span>Manage Tags</span>
    </div>
  </div>
</div>
