<div class="h-full p-1 box-border">
  <div class="manager-nav-wrapper flex flex-col space-y-1 h-full">
    <div
      matRipple
      class="cursor-pointer clipper-bg rounded-lg p-2 m-1"
      routerLink="/manager/notes"
    >
      Notes
    </div>
    <div
      matRipple
      class="cursor-pointer clipper-bg rounded-lg p-2 m-1"
      routerLink="/manager/clipboard"
    >
      Clipboard
    </div>
    <div
      matRipple
      class="cursor-pointer clipper-bg rounded-lg p-2 m-1"
      routerLink="/manager/bookmarks"
    >
      Bookmarks
    </div>
    <!--
    <div matRipple class="cursor-pointer clipper-bg rounded-lg p-2 m-1">
      Tags
    </div> -->
  </div>
</div>
