<div class="h-full p-1 box-border">
  <div class="manager-nav-wrapper flex flex-col space-y-1 h-full">
    <div
      matRipple
      class="cursor-pointer clipper-bg rounded-lg p-2 m-1"
      routerLink="/manager/clipboard"
    >
      <span
        matBadge="-"
        matBadgeSize="small"
        [matBadgeHidden]="clipboardHistoryService.running()"
      ></span>
      Clipboard
    </div>
    <div
      matRipple
      class="cursor-pointer clipper-bg rounded-lg p-2 m-1"
      routerLink="/manager/notes"
    >
      Notes
    </div>
    <div
      matRipple
      class="cursor-pointer clipper-bg rounded-lg p-2 m-1"
      routerLink="/manager/bookmarks"
    >
      Bookmarks
    </div>
    <div
      matRipple
      class="cursor-pointer clipper-bg rounded-lg p-2 m-1"
      routerLink="/manager/tags"
    >
      Tags
    </div>
  </div>
</div>
