<div class="wrapper p-2 flex-col">
  <div class="block mb-1">Select Theme</div>

  <div class="flex flex-row justify-between w-full cursor-pointer">
    @for (color of colors; track $index) {
    <div
      matRipple
      class="w-[180px] h-[100px] rounded-lg flex flex-row overflow-hidden default"
      [class.selected]="ts.selectedColor == color.name"
      (click)="changeColor(color.name)"
    >
      <div
        class="w-1/2 h-full flex items-center bg-gradient-to-br"
        [class]="[color.light.from, color.light.to]"
      >
        <mat-icon
          class="block mx-auto scale-150"
          [class]="color.name + '-light'"
          >light_mode</mat-icon
        >
      </div>
      <div
        class="w-1/2 h-full flex items-center bg-gradient-to-br"
        [class]="[color.dark.from, color.dark.to]"
      >
        <mat-icon class="block mx-auto scale-150" [class]="color.name + '-dark'"
          >dark_mode</mat-icon
        >
      </div>
    </div>
    }
  </div>
</div>
<div class="wrapper p-2 flex-col">
  <div class="block mb-1">Select Lighting</div>
  <div class="flex flex-row justify-between w-full cursor-pointer space-x-1">
    <div
      matRipple
      class="w-1/3 h-[100px] rounded-lg flex flex-row overflow-hidden default"
      [class]="ts.userLightingPreference == 'light' ? 'selected' : ''"
      (click)="changeLighting($any('light'))"
    >
      <div class="w-full h-full flex items-center bg-gradient-to-br">
        <mat-icon class="block mx-auto scale-150">light_mode</mat-icon>
      </div>
    </div>
    <div
      matRipple
      class="w-1/3 h-[100px] rounded-lg flex flex-row overflow-hidden default"
      [class]="ts.userLightingPreference == 'system' ? 'selected' : ''"
      (click)="changeLighting($any('system'))"
    >
      <div class="w-full h-full flex items-center bg-gradient-to-br">
        <mat-icon class="block mx-auto scale-150">computer</mat-icon>
      </div>
    </div>
    <div
      matRipple
      class="w-1/3 h-[100px] rounded-lg flex flex-row overflow-hidden default"
      [class]="ts.userLightingPreference == 'dark' ? 'selected' : ''"
      (click)="changeLighting($any('dark'))"
    >
      <div class="w-full h-full flex items-center bg-gradient-to-br">
        <mat-icon class="block mx-auto scale-150">dark_mode</mat-icon>
      </div>
    </div>
  </div>
</div>
<div class="wrapper p-2 flex-col space-y-2">
  <div class="block mb-1">Advanced Settings</div>
  <div class="flex flex-row justify-between items-center">
    <p class="flex">Number of clipboard events</p>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>History size</mat-label>
      <mat-select
        (valueChange)="changeHistorySize($event)"
        [value]="settings?.historySize"
      >
        @for (size of [100, 1000, 5000]; track size) {
        <mat-option [value]="size">{{ size }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex flex-row justify-between items-center">
    <p class="flex">Database path: {{ database }}</p>
    <div class="flex flex-row space-x-1">
      @if (promptedDBDelete) {
      <div class="flex items-center">Are you sure?</div>
      <button
        mat-raised-button
        color="primary"
        class="w-[95px]"
        (click)="promptedDBDelete = false"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="warn"
        class="w-[95px]"
        (click)="deleteDB()"
      >
        Proceed
      </button>
      } @else {
      <button mat-mini-fab color="primary" (click)="promptedDBDelete = true">
        <mat-icon>delete</mat-icon>
      </button>

      }
    </div>
  </div>
</div>
