<div class="wrapper">
  <div class="absolute bottom-0 text-xs text-slate-700 px-3">
    Added: {{ clipperEntry().timestamp | date : "yyyy-MM-dd HH:mm" }}
  </div>
  <div
    class="flex-1 min-h-[100px] overflow-hidden rounded-lg p-2 mb-4"
    [class.h-[100px]]="!expanded()"
  >
    <div class="overflow-hidden h-full">
      <div
        class="overflow-hidden whitespace-pre-wrap font-mono mb-2"
        [textContent]="clipperEntry().entry"
      ></div>
    </div>
  </div>
  <div class="flex flex-row mt-3 space-x-1 justify-end">
    <div class="flex flex-col space-y-2 w-[50px] items-center">
      <button mat-mini-fab class="w-full" (click)="toggleView()">
        <mat-icon>{{ expanded() ? "zoom_in_map" : "zoom_out_map" }}</mat-icon>
      </button>
      <button
        mat-mini-fab
        class="w-full"
        [routerLink]="['/notes', 'new', { entry: clipperEntry().entry }]"
      >
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <div class="flex flex-col space-y-2 w-[50px]">
      <button mat-mini-fab class="w-full" (click)="copyClicked.emit()">
        <mat-icon> content_copy</mat-icon>
      </button>
      <button mat-mini-fab class="w-full" (click)="deleteClicked.emit()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
